<!DOCTYPE html>
<html lang="en"> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshmen Talent Search</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Landing/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Landing/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Landing/css/line-icons.css">
    <link rel="stylesheet" href="/Landing/css/owl.carousel.css">
    <link rel="stylesheet" href="/Landing/css/owl.theme.css">
    <link rel="stylesheet" href="/Landing/css/nivo-lightbox.css">
    <link rel="stylesheet" href="/Landing/css/magnific-popup.css">
    <link rel="stylesheet" href="/Landing/css/slicknav.css">
    <link rel="stylesheet" href="/Landing/css/animate.css">
    <link rel="stylesheet" href="/Landing/css/main.css">    
    <link rel="stylesheet" href="/Landing/css/responsive.css">

    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">

    <style>
      .warning-container {
        background-color: rgb(247, 77, 77);
        align-items: center;
        text-align: center;
        margin: 10px auto;
        width: 37%;
        padding: 0;
        border-radius: 20px;
      }
      .warning-message {
        color: white;
      }
      span{
        font-weight: bold;
      }
  
      @media (max-width: 768px) {
        .warning-container {
          width: 100%;
          border-radius: 15px;
        }
      }
    </style>  
  </head>
  <body>

    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">    
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            
            <div class="navbar-brand">
            
              <a href="https://oasislpu.in/" ><img class="img-fulid" alt="logo" src="/Landing/img/oasis_logo_white.png"></a>
              <a href="#" ><img class="img-fulid" alt="logo" src="/Landing/img/DCA.png"></a>

            </div>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#hero-area">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link signup-link" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/oasis-81f3e.appspot.com/o/RULEBOOK%20FRESHMEN%20TALENT%20SEARCH%202021%20.pdf?alt=media&token=99925948-3cdc-43a3-8ab6-d4791ecff48f">Rule Book</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link login-link" onclick="redirectLogin()">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link signup-link" onclick="redirectSignup()">Register</a>
              </li>
            </ul> 
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
           <li>
              <a class="page-scroll" href="#hero-area">Home</a>
            </li>
            <li>
              <a class="page-scroll" href="#events">Events</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link signup-link" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/oasis-81f3e.appspot.com/o/RULEBOOK%20FRESHMEN%20TALENT%20SEARCH%202021%20.pdf?alt=media&token=99925948-3cdc-43a3-8ab6-d4791ecff48f">Rule Book</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link login-link" onclick="redirectLogin()">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link signup-link" onclick="redirectSignup()">Register</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->   

      <div class="container">      
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown hero-title" data-wow-duration="1000ms" data-wow-delay="0.3s">Freshmen Talent Search 2021</h1>
              <a onclick="redirectSignup()" class="btn-register wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.5s">Register Now</a>
            </div>
            <div class="card-offer"><a href="https://oasis.grabon.in/" target="_blank">Shop at GrabOn</a></div>
            <!-- <a href="https://oasis.grabon.in/" target="_blank" class="btn-offer">Shop at GrabOn</a> -->
            <!-- <div class='warning-container'>
              <p class='warning-message'><span>Warning</span>: Today is the last day to submit your google drive link for your respective events</p>
            </div> -->
          </div>
        </div> 
      </div>           
    </header>
    <!-- Header Section End --> 

    <!-- Events Section Start -->
    <section id="events" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Events</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        </div>  
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-music-note"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/music.png" style="border-radius: 0;">
              </div>
              <h4>Melody Siesta</h4>
              <p>Music is the only one with the power of healing and breaking simultaneously; it can take you back to the times when no time machine could ever, and the joy comes with it. Grab a mic and sing your favorite songs, and get acknowledged by the best of the university and nation.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-code"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/dance.png" style="border-radius: 0;">
              </div>
              <h4>Dance Till Dawn</h4>
              <p>Every day brings you a chance to draw in a breath, So kick off your shoes and dance because it is an art of expressing, releasing, and enjoying yourself. So we are here with the "Dance till Dawn", where our freshers can glorify their new beginning with their dancing talent.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-users"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/freshmen.png" style="border-radius: 0;">
              </div>
              <h4>Mr. & Miss Freshmen</h4>
              <p>Everyone is fascinated with models in the era of social media, but many didn't get a chance to walk upon the ramp with confidence, beauty, and elegance. Keeping this in mind, we are here with- "Mr. and Miss. Freshmen" for graceful freshers, where they can showcase their modelling skills and give themselves better exposure.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-pencil"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/acting.png" style="border-radius: 0;">
              </div>
              <h4>Steal the Spotlight</h4>
              <p>An exciting event straight from the essence of the silver screen for our artistic freshers - Steal The Spotlight. It is a golden opportunity for freshers who want to lift their creativity and compassionate attitude towards acting. It includes all the events of the theatre category like skit, plays, comedy, mimicry, mono acts, etc.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-code"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/canvas.png" style="border-radius: 0;">
              </div>
              <h4>Canvas Thrill</h4>
              <p>We present 'CANVA THRILL', the right platform to showcase your skills of canvas designing to unleash the unlimited creativity linked to canvas designing in our specially talented freshers. Here participants can showcase their creativity in sketching, paper modelling, digital art etc.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-mustache"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/talent.png">
              </div>
              <h4>Special Talent</h4>
              <p>The beauty of being a human is that we all are unique from others in our way. Also, Every one of us has an exceptional talent that makes us stand out from the crowd. So for our specially talented freshers, we have 'SPECIAL TALENT', where our freshers can showcase their creativity and skills of their uniqueness.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-camera"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/photography.png" style="border-radius: 0;">
              </div>
              <h4>ClickSnick</h4>
              <h6>(Photography)</h6>
              <p>Beautiful photographs always bring a big smile to our faces. We all love to capture the moment around us. So for our passionate photographers, we brought- CLICKSNICK, an excellent platform for photographers to get recognition and benchmark their work against peers from around the world.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-film-play"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/video-editing.png" style="border-radius: 0;">
              </div>
              <h4>Creative Fusion</h4>
              <h6>(Video Editing)</h6>
              <p>Editing is a modern world need that thrives on social media. So to encourage the talent of video editing among newcomers, we are here with the event- Creative Fusion. To enter this competition, freshers have to present their video editing using any editing tools.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-mustache"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/animation.png" style="border-radius: 0;">
              </div>
              <h4>Animation Desk</h4>
              <p>An online animation contest for animation shorts to fosters interaction between animators and the audience. In this, participants have to make an animated video using any of the editing tools. Also, This event encourages imaginative ideas and builds a fresher community solely devoted to animators.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-camera"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/graphic-design.png" style="border-radius: 0;">
              </div>
              <h4>Pro Graphix</h4>
              <h6>(Grapics Designing)</h6>
              <p>We are here with an exclusive graphic competition -Pro Graphix, a unique opportunity for creative newcomers to showcase their graphical skills with elegance. Pro Graphix is to promote creativity, excellence and outstanding talent in graphic designing among newcomers.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-pencil"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/poetry.png" style="border-radius: 0;">
              </div>
              <h4>Poetic Trails</h4>
              <h6>(Poetry)</h6>
              <p>Talent is a gift that shines the brightest, even on the darkest night, if you have the talent to express your inner thoughts in the form of a poem. Here is the chance to showcase your inner ideas, thoughts, creativity and abilities to the whole LPU.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon-img">
                <img alt="eventIcon" src="/Landing/img/events/essay.png" style="border-radius: 0;">
              </div>
              <h4>Ink Your Imagination</h4>
              <h6>(ESSAY)</h6>
              <p>Thoughts reside in a mind of an artist who creatively designs their own words and expresses them astoundingly on a paper is known as a writer. Through this event, freshers explore their inner thoughts in the form of words.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-laptop-phone"></i> -->
                <img alt="eventIcon" src="/Landing/img/events/quiz.png" style="border-radius: 0;">
              </div>
              <h4>Master Minds</h4>
              <h6>(Technical Quiz)</h6>
              <p>This is a quiz competition that would test the students' technical knowledge. This gives a platform to the freshers to give a starting edge to their coding skills. Apart from this would help them in understanding the basics of programming languages before entering into the world of dynamic coding websites.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon-img">
                <img alt="eventIcon" src="/Landing/img/events/COD.png" >
              </div>
              <h4>COD Tournament</h4>
              <p>For COD players, this tournament is a sort of happiness of life because, for them, COD is not a game, It's an emotion. It is an exclusive gaming competition for gamers to show and compete with others to prove their gaming skills.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon-img">
                <img alt="eventIcon" src="/Landing/img/events/valo.png" >
              </div>
              <h4>Valorant Tournament</h4>
              <p>Here is your chance for valorant gamers to blend their style and experiences of shooting games competitors. In this gaming event, freshers can show their skills in e gaming and get a chance to become Valorant Gaming conquerors.</p>
            </div>
          </div>
        </div>

        <div class="row row-last-item">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-code"></i> -->
                <img alt="sponsor" src="/Landing/img/events/coding.png" style="border-radius: 0;">
              </div>
              <h4>Web-O-Mania</h4>
              <h6>(Coding)</h6>
              <p>This is a small web development event where students create a simple web page for their portfolio. This would enable the youths to hold a grip over their existing skills and boost their confidence to make dynamic websites and powerful tools to make the life of humans more comfortable and easier.</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon-img">
                <!-- <i class="lnr lnr-code"></i> -->
                <img alt="sponsor" src="/Landing/img/events/hacking.png" style="border-radius: 0;">
              </div>
              <h4>Hack-the-Noon</h4>
              <h6>Ethical Hacking & Cyber Security Workshop and Quiz</h6>
              <p>If you are an individual who aspires to be the backbone of the nation and serve the country by securing people from the unethical cyber world, here is a fantastic webinar for you on ethical hacking. Learn the art of hacking ethically and serve the nation by securing its data.
                Join the workshop, learn the basics of ethical hacking, and attempt a simple quiz on it. Crossing the passing marks can help you win a lot of amazing opportunities.</p>
            </div>
          </div>
        </div>
      </div>  
    </section>
    <!-- Events Section End -->

    <!-- Sponsors Section Start -->
    <section id="sponsors" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.2s">Our Sponsors</h2>
          <hr class="lines">
          <!-- <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p> -->
        </div>
        <div class="row">
          <div class="col-md-4 col-12 wow fadeInDown" data-wow-delay="0.8s">
            <a href="https://www.grabon.in/" target="_blank"><img src="/Landing/img/sponsors/GrabOn_-_Official_Logo.png" style="width: 100%;"></a>
          </div>
          <div class="col-md-4 col-12 wow fadeInDown" data-wow-delay="1.2s">
            <a  href="https://staunch.in" target="_blank"><img src="/Landing/img/sponsors/Staunch Logo Final.png"  style="width: 100%;"></a>
          </div>
          <div class="col-md-4 col-12 wow fadeInDown" data-wow-delay="1.2s">
            <a  href="https://www.geeksforgeeks.org/" target="_blank"><img src="/Landing/img/partners/gfg-new-logo.png"  style="width: 100%;"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12 wow fadeInDown" data-wow-delay="1.2s">
            <a  href="https://indiancybersecuritysolutions.com/"><img src="/Landing/img/sponsors/a1e68b841145119.6007e4360ba7b.png"  style="width: 100%; "></a>
          </div>
          <div class="col-md-4 col-12 wow fadeInDown" data-wow-delay="1.2s">
            <a  href="https://creativegeekstudio.in/"><img src="/Landing/img/sponsors/CGStudio.png"  style="width: 100%; " alt=""></a>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </section>
    <!-- Sponsors Section End -->    

    <!-- Partners Section Start -->
    <section id="partners" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.2s">Our Partners</h2>
          <hr class="lines">
        </div>
        <div class="row">
          <div class="col-md-4 col-6 wow fadeInDown" data-wow-delay="0.8s">
            <img alt="GeeksForGeeksLPU" src="/Landing/img/partners/GFGLPU.png" onclick="location.href='https://www.instagram.com/geeksforgeekslpu/';" style="cursor:pointer;">
          </div>
          <div class="col-md-4 col-6 wow fadeInDown" data-wow-delay="1.2s">
            <img alt="UNYC Student Organization" src="/Landing/img/partners/UNYCLOGO.png" onclick="location.href='https://www.instagram.com/unyclpu/';" style="cursor:pointer;">
          </div>
          <div class="col-md-4 col-6 wow fadeInDown" data-wow-delay="1.6s">
            <img alt="Motion Man Student Organization" src="/Landing/img/partners/MOTIONMAN.png" onclick="location.href='https://www.instagram.com/themotionman.live/';" style="cursor:pointer;">
          </div>
        </div>
      </div>
    </section>
    <!-- Partners Section End -->    


     <!-- Our Judges Section -->
     <div id="judges" class="section judges-section">
      <div class="container">
        <div class="section-header wow fadeInDown" data-wow-delay="0.2s">          
          <h2 class="section-title">Our Judges</h2>
          <hr class="lines">
        </div>

        <div class="row judging-tables">
          <div class="col-md-4 col-sm-6 col-12">
            <div class="judging-table">
              <div class="judging-details wow fadeInDown" data-wow-delay="0.6s">
                <img alt="judgeImg" src="/Landing/img/judge.png" >
                <h2>Will Reveal Soon</h2>
                
              </div>
            </div>
          </div>

          <!-- <div class="col-md-4 col-sm-6 col-12">
            <div class="judging-table">
              <div class="judging-details wow fadeInDown" data-wow-delay="1.0s">
                <img src="img/judges/profile1.jpg" >
                <h2>Rahul Awasthi</h2>
                <h6>Master Mind</h6>
              </div>
            </div>
          </div> -->
          
          <!-- <div class="col-md-4 col-sm-6 col-12">
            <div class="judging-table">
              <div class="judging-details wow fadeInDown" data-wow-delay="1.4s">
                <img src="img/judges/profile1.jpg" >
                <h2>Rahul Awasthi</h2>
                <h6>Master Mind</h6>
              </div>
            </div>
          </div> -->

          

        </div>
      </div>
    </div>
    <!-- Our Judges Section -->






    <!-- Contact Section Start -->
    <section id="contact" class="section" data-stellar-background-ratio="-0.2">      
      <div class="contact-form">
        <div class="container">
          <div class="row">     
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-us">
                <h3>Contact Us</h3>
                <div class="contact-address">
                  <p>Lovely Professional University,<br /> Phagwara, Punjab</p>
                  <p class="phone"> Phone: +91 62835 59957</p>
                  <p class="phone"> Phone: +91 85292 39874</p>
                  <p class="email"> E-mail: fts.oasislpu@gmail.com</p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li class="facebook"><a href="https://www.facebook.com/oasislpu/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="https://twitter.com/oasislpu" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/oasislpu/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="linkedin"><a href="https://www.linkedin.com/company/oasislpu" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>     
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-block">
                <form id="contactForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>                                 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button text-center">
                        <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div> 
                        <div class="clearfix"></div> 
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>           
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer>          
      <div class="container">
        <div class="row">
            <div class="copyright">
              <!-- TODO: Add hyperlink OASIS Team Page -->
              <p>Made With ❤️ by <a href="#">Team OASIS</a></p>
          </div>  
        </div>
      </div>
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lnr lnr-arrow-up"></i>
    </a>
    
    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>     

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/Landing/js/jquery-min.js"></script>
    <script src="/Landing/js/popper.min.js"></script>
    <script src="/Landing/js/bootstrap.min.js"></script>
    <script src="/Landing/js/jquery.mixitup.js"></script>
    <script src="/Landing/js/nivo-lightbox.js"></script>
    <script src="/Landing/js/owl.carousel.js"></script>    
    <script src="/Landing/js/jquery.stellar.min.js"></script>    
    <script src="/Landing/js/jquery.nav.js"></script>    
    <script src="/Landing/js/scrolling-nav.js"></script>    
    <script src="/Landing/js/jquery.easing.min.js"></script>    
    <script src="/Landing/js/smoothscroll.js"></script>    
    <script src="/Landing/js/jquery.slicknav.js"></script>     
    <script src="/Landing/js/wow.js"></script>   
    <script src="/Landing/js/jquery.vide.js"></script>
    <script src="/Landing/js/jquery.counterup.min.js"></script>    
    <script src="/Landing/js/jquery.magnific-popup.min.js"></script>    
    <script src="/Landing/js/waypoints.min.js"></script>    
    <script src="/Landing/js/form-validator.min.js"></script>
    <script src="/Landing/js/contact-form-script.js"></script>   
    <script src="/Landing/js/main.js"></script>

    <script>
      const redirectLogin = () => {
        window.location.assign('/login')
      }

      const redirectSignup = () => {
        window.location.assign('/signup')
      }
    </script>

  </body>
</html>