<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Oasis FTS</title>
  <!-- Font Icon -->
  <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
  <main>
    <section class="sign-in" id="signIn">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure><img src="/images/signin-image.jpg" alt="sing up image"></figure>
          </div>

          <div class="signin-form">
            <h2 class="form-title">Sign In</h2>
            <form method="POST" class="register-form" id="login-form">
              <div class="form-group">
                <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="email" id="email" placeholder="Email" required />
              </div>
              <div class="form-group">
                <label><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="password" id="password" placeholder="Password" required />
              </div>
              <div class="form-group">
                <a style="text-decoration: none;" href="mailto:technicalteamoasislpu@gmail.com">
                  <p class="label-agree-term"><span><span></span></span>If you have trouble loggin in contact us here</p>
                </a>
              </div>
              <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />                
                <div onclick="redirectHome()" class="form-submit">Home</div>      
              </div>
            </form>
            <a href="#" class="signup-image-link" onclick="signUp()">Create an account</a>
          </div>

        </div>
      </div>
    </section>

    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>

    <script>
      const signUp = () => {
        window.location.assign("/signup")
      }
      var firebaseConfig = {
        apiKey: "AIzaSyDBEvY6J88DhlPfUFs27CJdFqMflF9cu80",
        authDomain: "oasis-81f3e.firebaseapp.com",
        databaseURL: "https://oasis-81f3e-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "oasis-81f3e",
        storageBucket: "oasis-81f3e.appspot.com",
        messagingSenderId: "691297823995",
        appId: "1:691297823995:web:10ffd1fc1684882256545e",
        measurementId: "G-3ZGYCCQD6R"
    };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      document
        .getElementById("login-form")
        .addEventListener("submit", (event) => {
          event.preventDefault();
          const login = event.target.email.value;
          const password = event.target.password.value;

          const getToken = async () => {
            const response = await fetch(
              '/getToken',
              {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  email: login,
                  password: password
                })
              }
            );
            const data = await response.json()
            if(data.token === 'noUser'){
              window.alert('You have to register first')
              window.location.assign('/signup')
            }else{
              return data.token
            }
          }
          getToken().then((token) => {
            firebase.auth().signInWithCustomToken(token)
              .then(async (userCredential) => {
                // Signed in
                var user = userCredential.user;
                window.location.assign('/profile')
                const token = await user.getIdToken();
              })
              .catch((error) => {
                var errorCode = error.code;
                var errorMessage = error.message;
                // ...
              });
          });
        });
        const redirectHome = () => {
          window.location.assign('/')
        }

    </script>
  </main>
</body>

</html>