<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile page</title>
  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <link rel="icon" href="/img/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="/css/style2.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

  <style>
    .warning-container {
      background-color: rgb(247, 77, 77);
      align-items: center;
      text-align: center;
      margin: 10px auto;
      width: 42%;
      padding: 0;
      border-radius: 20px;
    }
    .warning-message {
      color: white;
    }
    span{
      font-weight: bold;
    }

    @media (max-width: 768px) {
      .warning-container {
        width: 100%;
        border-radius: 15px;
      }
    }

    .warnElement {
        margin: 5px auto !important; 
        font-size: 12px;
        color:rgb(247, 77, 77)
    }
  </style>
</head>
  <body>
    <main> 
      <button type="button" class="nav-button" onclick="showSidebar()"><i class="fa fa-bars"></i></button>
      <div class="container">
          <div class="section-left hide-nav">
              <button type="button" class="nav-close-button" onclick="hideSidebar()"><i class="fa fa-times"></i></button>
              <img onclick="signout()" src="/img/oasis_logo_white.png" alt="logo" class="section-left__logo">
              <nav>
                <ul>
                  <li class="profile-user">
                      <img class="profile-user__img" src="#" id="userProfile" alt="profile">
                  </li>
                  <li id="uploadButton" class="choose_file">
                      <span id="photoText">Upload Image</span>
                      <input onchange="uploadImage()" type="file" id="photo" name="profile-img" />
                  </li>
                  <li>
                      <h6 id="userName"></h6>
                  </li>
                  <li>
                      <i class="fa fa-envelope" style="display: inline-block;"></i><h6 id="userEmail"></h6>
                  </li>
                  <li>
                      <i class="fa fa-mobile"></i>
                      <h6 id="userPhone"></h6>
                  </li>                  
                  <li>
                      <h6 id="userRegNo"></h6>
                  </li>                  
                </ul>
                <button class="btn-sign-out" type="button" onclick="signout()">Sign Out</button>
            </nav>
          </div>
          <div class="section-right">
            <div class='warning-container'>
                <p class='warning-message'><span>Warning</span>: Today is the last day to submit your google drive link for your respective events</p>
              </div>
        
              <div class="certEvent">

                  <form id="eventForm">
                    <ul class="responsive-table">
                        <li class="table-header">
                            <div class="col col-1">Select</div>
                            <div class="col col-2">Event Name</div>
                            <div class="col col-3">Query</div>
                        </li>
                        <li class="table-row" id="MelodySiesta">
                                <div class="col col-1" ><input class="event" type="checkbox" name="event" value="MelodySiesta"></div>
                                <div class="col col-2" >Melody Siesta</div>
                                <div class="col col-3" >9453688331</div>
                        </li>
                        <li class="table-row" id="DanceTillDawn">
                                <div class="col col-1" ><input class="event" type="checkbox" name="event" value="DanceTillDawn"></div>
                                <div class="col col-2" >Dance Till Dawn</div>
                                <div class="col col-3" >8079880868</div>
                        </li>
                        <li class="table-row" id="MrAndMrsFreshmen">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="MrAndMrsFreshmen"></div>
                            <div class="col col-2" >Mr. & Miss Freshmen</div>
                            <div class="col col-3" >7906885208</div>
                        </li>
                        <li class="table-row" id="StealTheSpotlight">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="StealTheSpotlight"></div>
                            <div class="col col-2" >Steal The Spotlight</div>
                            <div class="col col-3" >9456463543</div>
                        </li>
                        <li class="table-row" id="CanvasThrill">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="CanvasThrill"></div>
                            <div class="col col-2" >Canvas Thrill</div>
                            <div class="col col-3" >7528045625</div>
                        </li>
                        <li class="table-row" id="SpecialTalent">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="SpecialTalent"></div>
                            <div class="col col-2" >Special Talent</div>
                            <div class="col col-3" >6002597527</div>
                        </li>
                        <li class="table-row" id="ClickSnick">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="ClickSnick"></div>
                            <div class="col col-2" >Photography: CLICKSNICK</div>
                            <div class="col col-3" >6370234711</div>
                        </li>
                        <li class="table-row" id="VideoEditingCreativeFusion">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="VideoEditingCreativeFusion"></div>
                            <div class="col col-2" >Video Editing: Creative Fusion</div>
                            <div class="col col-3" >9153045664</div>
                        </li>
                        <li class="table-row" id="AnimationDesk">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="AnimationDesk"></div>
                            <div class="col col-2" >Animation: Animation Desk</div>
                            <div class="col col-3" >7051112253</div>
                        </li>
                        <li class="table-row" id="ProGraphix">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="ProGraphix"></div>
                            <div class="col col-2" >Graphic Designing: Pro Graphix</div>
                            <div class="col col-3" >9878668958</div>
                        </li>
                        <li class="table-row" id="CODTournament">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="CODTournament"></div>
                            <div class="col col-2" >COD Tournament</div>
                            <div class="col col-3" >9959210498</div>
                        </li>
                        <li class="table-row" id="Valorant">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="Valorant"></div>
                            <div class="col col-2" >Valorant</div>
                            <div class="col col-3" >8847518203</div>
                        </li>
                        <li class="table-row" id="PoeticTrails">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="PoeticTrails"></div>
                            <div class="col col-2" >Poetry: Poetic Trails</div>
                            <div class="col col-3" >8528748300</div>
                        </li>
                        <li class="table-row" id="EssayInkYourImagination">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="EssayInkYourImagination"></div>
                            <div class="col col-2" >Essay: Ink Your Imagination</div>
                            <div class="col col-3" >8295490098</div>
                        </li>
                        <li class="table-row" id="MasterMinds">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="MasterMinds"></div>
                            <div class="col col-2" >Technical Quiz: Master Minds</div>
                            <div class="col col-3" >6002597527</div>
                        </li>
                        <li class="table-row" id="WebOMania">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="WebOMania"></div>
                            <div class="col col-2" >Coding: Web-O-Mania</div>
                            <div class="col col-3" >8117857519</div>
                        </li>
                        <li class="table-row" id="HackTheNoon">
                            <div class="col col-1" ><input class="event" type="checkbox" name="event" value="HackTheNoon"></div>
                            <div class="col col-2" >Hack-The-Noon: Ethical Hacking & Cybersecurity Workshop and Quiz</div>
                            <div class="col col-3" >8591044192</div>
                        </li>
                    </ul>
                    <button class="submit_event" type="submit">Register</button>
                  </form>
              </div>
              
              
              <div id="userRegEvents" class="oasis_news card">
                  <h3>Registered Events</h3>

            

                   <!-- <div>
                    <button class="accordion">Section 1</button>
                    <div class="panel">
                        text
                        <form id="linkForm">
                            
                            <input type="checkbox" name="check" value="" checked/>
                            <input name="linkInput" type="text" placeholder="Upload Your G-Drive Link"/>
                            
                            <button type="submit" class="btn-submit">upload</button>
                        </form>
                    </div>
                  </div> -->

              </div>
        </div>
      </div>

      <script src="/lib/jquery/jquery.min.js"></script>
      <script src="/lib/jquery/jquery-migrate.min.js"></script>
      <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/lib/easing/easing.min.js"></script>
      <script src="/lib/mobile-nav/mobile-nav.js"></script>
      <script src="/lib/wow/wow.min.js"></script>
      <script src="/lib/waypoints/waypoints.min.js"></script>
      <script src="/lib/counterup/counterup.min.js"></script>
      <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="/lib/isotope/isotope.pkgd.min.js"></script>
      <script src="/lib/lightbox/js/lightbox.min.js"></script>
      <!-- Contact Form JavaScript File -->
      <script src="/contactform/contactform.js"></script>

      <!-- Template Main Javascript File -->
      <script src="/js/main.js"></script>

      <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>

    
      <script>

        function showProfile() {
            let icon = document.getElementById("profile-icon__overlay");
            icon.classList.toggle("show");
        };


        let sideBar = document.querySelector(".section-left");
        let navBtn = document.getElementsByClassName("nav-button");
        function showSidebar() {
            sideBar.classList.remove("hide-nav");
        };
        function hideSidebar() {
            sideBar.classList.add("hide-nav");
        }
        
        var firebaseConfig = {
            apiKey: "AIzaSyDBEvY6J88DhlPfUFs27CJdFqMflF9cu80",        
            authDomain: "oasis-81f3e.firebaseapp.com",        
            databaseURL: "https://oasis-81f3e-default-rtdb.asia-southeast1.firebasedatabase.app",        
            projectId: "oasis-81f3e",        
            storageBucket: "oasis-81f3e.appspot.com",        
            messagingSenderId: "691297823995",        
            appId: "1:691297823995:web:10ffd1fc1684882256545e",        
            measurementId: "G-3ZGYCCQD6R"        
        };
        
        
    
        firebase.initializeApp(firebaseConfig);
    
        const user = firebase.auth().currentUser

        var uid
        var email

        
    
        firebase.auth().onAuthStateChanged(async (user) => {
            
            if (!user) {
                
                window.location.assign('/login')
            }
            else if(user.emailVerified === false) {
                firebase.auth().currentUser.sendEmailVerification()
                .then(() => {
                    console.log('sent')
                }).catch((err) => {
                    console.log(err)
                    window.alert('Try logging in again')
                });
                window.location.assign('/verifyEmail')
            }           
            else {
                const token = await user.getIdToken(true)
                const getUserData = async () => {
                    const response  = await fetch('/getUser', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            idToken: token
                        }),
                    })
                    const data = await response.json();
                    document.getElementById('userName').innerHTML = data.userName;           
                    document.getElementById('userEmail').innerHTML = data.userEmail;           
                    document.getElementById('userPhone').innerHTML = data.userPhone;           
                    document.getElementById('userRegNo').innerHTML = data.userRegNo;
                    document.getElementById('userProfile').src = data.userImgUrl;
                    if(data.userImgUrl != 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'){
                        document.getElementById('photoText').innerHTML = 'Change Photo'
                    }
                    email = data.userEmail
                    uid = data.userUid;
                    data.eventList.forEach((eventName) => {
                        document.getElementById(eventName.name).style.display = 'none'
                        if(!eventName.bool){
                            const outerDiv = document.createElement('div')
                            const acButton = document.createElement('button')
                            acButton.setAttribute('class', 'accordion')
                            acButton.innerHTML = eventName.name
                            const inputDiv = document.createElement('div')
                            inputDiv.setAttribute('class', 'panel')
                            const form = document.createElement('form')
                            form.setAttribute('class', 'linkForm')
                            const input = document.createElement('input')
                            input.setAttribute('type', 'url')
                            input.setAttribute('name', 'linkInput')
                            input.setAttribute('required', true)
                            input.setAttribute('placeholder', 'Upload Your G-Drive Link')
                            const warning = document.createElement('p')
                            warning.setAttribute('class', 'warnElement')
                            const warnNode = document.createTextNode('Make sure the G-Drive link has public access')
                            warning.appendChild(warnNode)
                            const checkInput = document.createElement('input')
                            checkInput.setAttribute('type', 'checkbox')
                            checkInput.setAttribute('name', 'check')
                            checkInput.setAttribute('value', eventName.name)

                            //  Hide Input Checkbox
                            checkInput.style.display = 'none';

                            const uplButton = document.createElement('button')
                            uplButton.setAttribute('class', 'btn-submit')
                            uplButton.setAttribute('type', 'submit')
                            // Added InnerHTML FOR Upload Button
                            uplButton.innerHTML = 'Upload';

                            form.appendChild(input)
                            form.appendChild(checkInput)
                            form.appendChild(uplButton)
                            inputDiv.appendChild(form)
                            inputDiv.appendChild(warning)
                            outerDiv.appendChild(acButton)
                            outerDiv.appendChild(inputDiv)

                            document.getElementById('userRegEvents').appendChild(outerDiv);
                        }else{
                            const outerDiv = document.createElement('div')
                            const acButton = document.createElement('button')
                            acButton.setAttribute('class', 'accordion')
                            acButton.innerHTML = eventName.name
                            const inputDiv = document.createElement('div')
                            inputDiv.setAttribute('class', 'panel')
                            const para = document.createElement('p')
                            const message = document.createTextNode('Congratulations you have uploaded the your link for this event!')

                            outerDiv.appendChild(acButton)
                            outerDiv.appendChild(inputDiv)
                            para.appendChild(message)
                            inputDiv.appendChild(para)
                            document.getElementById('userRegEvents').appendChild(outerDiv);
                        }
                    })
                    var linkForm = document.querySelectorAll(".linkForm");
                    for(const linkElement of linkForm){
                        linkElement.addEventListener("submit", (event) => {
                            event.preventDefault()
                            const eventName = event.target.check.value;
                            const link = event.target.linkInput.value;
                            const uploadLink = async () => {
                                const response = await fetch(
                                '/uploadLinks',
                                {
                                    method: 'POST',
                                    headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        event: eventName,
                                        link,
                                        email,
                                        uid
                                    })
                                }
                                );
                                const resData = await response.json();
                                if(resData.token === 'done') {
                                    window.alert('That was a lot of work! well Done! link is uploaded')
                                    window.location.reload();
                                }
                            }  
                            uploadLink()          
                        })
                    }
                }
                getUserData();
            }
        })

        document.getElementById('eventForm').addEventListener("submit", (event) => {
            event.preventDefault()
            const checkboxes = document.querySelectorAll('input[name="event"]:checked');
            var events = [];
            checkboxes.forEach((checkbox) => {
                events.push(checkbox.value);
            });
            const registerEvents = async () => {
                const resData = await fetch('/registerEvents', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        uid,
                        events: events,
                        email,
                    })                   
                })
                
            }
            registerEvents()
            window.alert('Yay you have successfully registered for the events! See ya there!')
            window.location.reload()
        });

                    

        const signout = () => {
            firebase.auth().signOut().then(() => {
                window.location.assign('/')
            }).catch((error) => {
            console.log(error);
            });
        }
        
        const uploadImage = () => {

            window.alert('Uploading!')
            var elements = document.getElementsByClassName('linkForm')
    
            const ref = firebase.storage().ref()
            const file = document.getElementById("photo").files[0]                          
            
            const name = uid;
            
            const metadata ={
                contentType: file.type
            }
            const task = ref.child(name).put(file, metadata)

            task
            .then(snapshot => snapshot.ref.getDownloadURL())
            .then(url => {
                const setImageUrl = async () => {
                    const res = await fetch('/setImageUrl', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            uid: uid,
                            imgUrl: url
                        }),
                    })
                    const data = await res.json()
                    
                }
                setImageUrl()
                window.location.reload()
            })           
        }
      </script>
    </main>
  </body>
</html>


