<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oasis FTS</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <style>
        .warning{
            font-size: 15px;
            color: red;
            display: none;
        }
        .preWarn{
            font-size: 10px;
            color: gray;
        }
    </style>
  </head>
  <body>
    <main>
        <section class="signup" id="sign-up">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-image">
                        <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
                    </div>
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name" required/>
                            </div>
                            <div class="form-group">
                                <label for="fatherName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="fatherName" id="fatherName" placeholder="Father's Name" required/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Email" required/>
                            </div>
                            <p id="registration" class="warning">This event is only for freshmen</p>
                            <div class="form-group">
                                <label for="regNo"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" name="regNo" id="regNo" placeholder="Registration No." required/>
                            </div>
                            <p id="contactNo" class="warning">Incorrect phone number</p>
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                                <input type="text" name="phone" id="phone" placeholder="Phone Number" required/>
                            </div>
                            <div class="form-group">
                                <label for="age"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="number" name="age" id="age" placeholder="Age" required/>
                            </div>
                            <p class="preWarn">Example: B.Tech, BBA, MBA</p>
                            <div class="form-group">
                                <label for="department"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="department" id="department" placeholder="Department" required/>
                            </div>
                            <p class="preWarn">Example: CSE, ECE, HOSPITALITY</p>
                            <div class="form-group">
                                <label for="course"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="course" id="course" placeholder="Course" required/>
                            </div>
                            <p id="charWarn" class="preWarn">Minimum 8 characters</p>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password" required/>
                            </div>
                            <p id="passWarn" class="warning">The passwords do not match</p>
                            <div class="form-group">
                                <i class="zmdi zmdi-lock-outline"></i>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" required/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>We recommend you to save Username and password in your browser.</label>
                            </div>
                            <div class="form-group form-button">
                                <button type="submit" class="form-submit" name="button">Register</button>
                            </div>
                        </form>
                        <a href="./login" class="signup-image-link" onclick="signIn()">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

      <script>

        document
          .getElementById("register-form")
          .addEventListener("submit", (event) => {
            event.preventDefault();
            const name = event.target.name.value;
            const fatherName = event.target.fatherName.value;
            const login = event.target.email.value;
            const regNo = event.target.regNo.value;
            const startReg = regNo.substring(0, 3)
            const phone = event.target.phone.value;
            const age = event.target.age.value;
            const password = event.target.pass.value;
            const checkPassword = event.target.re_pass.value

            if(password.length >= 8) {
                document.getElementById('charWarn').style.color = 'gray';
                if(password === checkPassword){
                    document.getElementById('passWarn').style.display = 'none';
                    if(phone.length === 10){
                        document.getElementById('contactNo').style.display = 'none';
                        if(regNo.length === 8 && startReg === '121' ) {
                            document.getElementById('registration').style.display = 'none';
                            const createUser = async () => {
                                const res = await fetch('/createuser', {
                                    method: 'POST',
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        email: login,
                                        pass: password,
                                        name,
                                        fatherName,
                                        regNo,
                                        phone,
                                        department,
                                        course,
                                        age,
                                        re_pass: checkPassword
                                    }),
                                })
                                const resData = await res.json();
                                if(resData.token === 'done' ){
                                    window.location.assign('/login');
                                }else{
                                    console.log('error')
                                }
                            }
                            createUser()  
                                                    
                        }else{
                            document.getElementById('registration').style.display = 'block';
                        }
                    }else {
                        document.getElementById('contactNo').style.display = 'block';
                    }
                }else{
                    document.getElementById('passWarn').style.display = 'block';
                }
            }else {
                document.getElementById('charWarn').style.color = 'red';
            }
            
              
            return false;
          });
      </script>
    </main>
  </body>
</html>

